body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-top: 10px;
}

.navbar {
    background-color: #A1B573ff; 
}

.skill-badge {
    display: inline-block; 
    border: 1px solid #ccc; 
    border-radius: 8px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1.2em; 
    font-weight: bold; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Adds shadow for depth */
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.skill-badge:hover {
    transform: scale(1.1); 
    background-color: #A1B573ff;
    color: white;
}

footer {
    background-color: #7F9073ff; 
    color: white;  
    width: 100%;   
    padding: 10px 0; 
    text-align: center; 
}

.highlight {
    color: #7F9073ff;
    font-weight: bold;
    font-size: 1.1em;
}

.divider {
    max-width: 80%;
    margin: 0 auto;
}
